#root {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.todolist {
  margin: 0 auto 4rem auto;
  text-align: center;
}

.Matching {
  margin: 0 auto 0 auto;
  text-align: center;
}

.Appendage {
  margin: 0 auto 0 auto;
  text-align: center;
}
