
.AppendageCardPreview {
  margin: auto;
  height: 150px;
  width: 150px;
  border: #ffffff 1px solid;
}

@media (prefers-color-scheme: light) {
  div.AppendageCardPreview {
    border-color: #020202;
  }
}

.CardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto; /* 縦スクロールを有効にする */
  padding: 10px;
}

.CardsGrid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 800px; /* 最大幅を設定 */
}

.CardsCard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.CardsCardInvisible {
  opacity: 0.25;
}

.CardsCardPlus {
  font-size: 2rem;
  font-weight: bold;
  border: 2px dashed #aaa;
  cursor: pointer;
  color: #1a1a1a;
  background-color: #f9f9f9;
}

.CardsCardImage {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.CardsCardTitle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  color: #1a1a1a;
}

.CardsCardCategories {
  font-size: 0.8rem;
  color: #666;
}

.CardsCardVisibilityToggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 0.8rem;
  display: inline-block;
  color: #1a1a1a;
  border-radius: 0 0 0 8px;
}
