#Home {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #282c34;
  color: white;
}

@media (prefers-color-scheme: light) {
  #Home {
    background-color: #ffffff;
    color: #213547;
  }
}

.Content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
}
