#Home {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #282c34;
  color: white;
}

@media (prefers-color-scheme: light) {
  #Home {
    background-color: #ffffff;
    color: #213547;
  }
}

.MainContent {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: auto;
}

.ContentTabsBar {
  display: flex;
  flex: 0 0 2rem;
}
