.TodoList {
  margin: 48px auto;
  text-align: center;
}

.todoListHeader {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.todoListul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.todoListLi {
  padding: 0.4em;
  background: #f4f4f4;
  border: 1px solid #cdcdcd;
}

.todoListLi:hover {
  background: #e9e9e9;
}

.todoListLiSelected {
  background: #f6f4e4;
}

.todoListButtonField {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoListColumn {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.todoListdiv {
  margin: 0;
  width: max-content;
  max-width: 45%;
  text-align: left;
  border: 1px solid #000;
  overflow: hidden;
}

.itemListul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: max-content;
  text-align: left;
}


button.buttonGood {
    background-color: #e5fde5;
}

button.buttonWarning {
    background-color: #fde5e5;
}
