.todoListul {
    list-style-type: none;
    padding: 0;
}

.todoListdiv {
    margin: 0 auto;
    width: max-content;
    text-align: left;
}

button.matchingButtonYes {
    background-color: #e5fde5;
}

button.matchingButtonNo {
    background-color: #fde5e5;
}
